* {
  margin: 0;
  padding: 0;
  /*background-image: url("images/background-sand.jpg");*/
  /*background-color: transparent;*/
}

/* ---------  header ------------*/

.container {
  border: 5px dotted red;
  margin: 5px dashed green;
  padding: 5px solid blue;
}

.header {
  border: 5px dotted red;
  margin: 5px dashed green;
  padding: 5px solid blue;
}



body {
  background-image: url("images/background-sand.jpeg");
  background-repeat: repeat-x;
  background-position: center;
  background-clip: border-box;
  /*background-size: cover;*/
  opacity: 10%;
  background-color: #fff;
  color: #2a1c29;
  font-family: Gill Sans, Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;

}

/*main*/






/*footer*/
footer {
  border: 5px dotted red;
  margin: 5px dashed green;
  padding: 5px solid blue;
  text-align: center;
}
