* {
  margin: 0;
  padding: 0;
  background-image: url("images/background-sand.jpg");
  /*background-color: transparent;*/
}

/* ---------  header ------------*/


body {
  background-image: url("images/background.jpeg");
  background-repeat: repeat-x;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  opacity: 10%;
  background-color: #ffffff;
  color: #2a1c29;
  font-family: Gill Sans, Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;

}

.container img {
  opacity: 10%;
}

.header {

}


/* ---------  body  ----------*/

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    background-color: skyblue;
  border-radius: 15px;
}


.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

 .flex-item-1 {
    width: 900px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
